
body{
    margin: 0px;
    padding:  0px;
    background-color: #d3d0bf;
}
.wrapper{
    margin: 0 auto;
    padding: 0px;
    background-color: #e9e9e9;
    min-height: 100vh;
}
/** Navbar style **/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .router-link-exact-active {
  background-color: #04AA6D;
  color: white;
}
.app_title{
    text-align: center;
    background: #585555;
    padding: 15px 10px;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
    .wrapper{
        max-width: 1120px;
        padding:  0px 10px;
    }
}

/***Form Component**/
.shortener-form{
    text-align: center;
    padding: 50px 10px
}
.shortener-form .input-url {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    background: #f3f3f3;
    border: 1px solid #b3b0b0;
    border-radius: 5px;
}
.shortener-form .submit-btn{
    width: 100px;
    height: 35px;
    font-size: 16px;
    background: #419d41;
    border: 1px solid #2dab2d;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
/**Success Modal Component**/
.success-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}
.success-modal {
  text-align: center;
  background-color: #d5d5d5;
  height: 200px;
  width: 500px;
  margin-top: 10%;
  border-radius: 5px;
}
.success-modal .modal-header{
    display: flex;
    flex-direction: row;
    background: #5cb85c;
    padding: 15px 5px;
    border-bottom: 1px solid #cdcaca;
    border-radius: 5px 5px 0px 0px;
    color: white;
}
.success-modal .modal-header .modal-header-title{
  width: 90%;
  font-size: 20px;
}
.success-modal .modal-header .modal-header-close{
  width: 10%;
  font-size: 25px;
  cursor: pointer;
}
.success-modal .modal-footer{
  text-align: right;
  padding-right: 15px;
}

.success-modal .modal-content p {
  font-size: 16px;
  margin: 20px 0;
}
.success-modal .modal-content{
  padding:15px 5px ;
}
.success-modal .modal-footer button{
    width: 60px;
    padding: 3px;
    border: 1px solid #b7afaf;
    border-radius: 5px;
    cursor: pointer;
}
.success-modal .modal-footer button:hover{
  opacity: .8;
}
.success-modal .url_area{
  background: #b6e9b6;
    padding: 6px 11px;
    font-size: 20px;
    font-weight: 200;
    border-radius: 5px;
    color: black;
    border: 1px solid #5cb85c;
    cursor: copy;
}

/**Alert Modal Component**/

.alert-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}
.alert_modal .modal {
  text-align: center;
  background-color: #f7d9d9;
  height: 200px;
  width: 500px;
  margin-top: 10%;
  border-radius: 5px;
}
.alert_modal .modal-header{
    display: flex;
    flex-direction: row;
    background: #b51048;
    padding: 15px 5px;
    border-bottom: 1px solid #cdcaca;
    border-radius: 5px 5px 0px 0px;
    color: white;
}
.alert_modal .modal-header .modal-header-title{
  width: 90%;
  font-size: 20px;
}
.alert_modal .modal-header .modal-header-close{
  width: 10%;
  font-size: 25px;
  cursor: pointer;
}
.modal-footer{
  text-align: right;
  padding-right: 15px;
}

.alert_modal .modal-content p {
  font-size: 16px;
  margin: 20px 0;
}
.alert_modal .modal-content{
  padding:15px 5px ;
}
.alert_modal .modal-footer button{
    width: 60px;
    padding: 3px;
    border: 1px solid #b7afaf;
    border-radius: 5px;
    cursor: pointer;
}
.alert_modal .modal-footer button:hover{
  opacity: .8;
}
/**URLs Component**/
#url_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#url_table th:nth-child(1){
    width: 15%;
}

#url_table td, #url_table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#url_table td:nth-child(2){
    cursor: pointer
}
#url_table tr:nth-child(even){background-color: #f2f2f2;}

#url_table tr:hover {background-color: #ddd;}

#url_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}