<template>
  <div class="alert-modal-overlay alert_modal" @click="changeAlertModal">>
    <div class="modal" @click.stop>
      <div class="modal-header">
        <div class="modal-header-title">{{ this.$store.state.alertModalTitle}}</div>
        <div class="modal-header-close" @click="changeAlertModal">×</div>
      </div>
      <div class="modal-content">
        <p>{{ this.$store.state.alertModalMessage}}</p>
      </div>
      <div class="modal-footer">
        <button @click="changeAlertModal">Close</button>
      </div>
    </div>
    
  </div>
</template>
<script>
    export default {
          methods:{
            changeAlertModal(){
              this.$store.dispatch("alertMessage");
            }
          }
    }
</script>
