<template>
    <div class="form-container">
        <form class="shortener-form" @submit.prevent="storeURL">
            <input class="input-url" type="text" name="url" v-model="original_url" placeholder="Enter your valid url" required pattern="^(http(s)?:\/\/)+[\w\-\._~:\/?#[\]@!\$&'\(\)\*\+,;=.]+$"  >
            <button class="submit-btn" type="submit">Submit</button>
        </form>
        <successModal v-show="this.$store.state.successModal" ></successModal>
        <alertModal v-show="this.$store.state.alertModal"></alertModal>
    </div>
    
</template>

<script>
    import alertModal from "./AlertModal.vue";
    import successModal from "./SuccessModal.vue";
    export default {
        data() {
            return {
              showModal: false,
              original_url: null,
            }
          },
          components: {successModal: successModal, alertModal: alertModal },
        methods : {

            /**Store the into apps & return a shortener url**/
            storeURL(){
                this.removeSlashFromEnd();
                let hasExists = this.setOrGetFromLocal(this.original_url);
                if(hasExists){
                    this.$store.dispatch("successMessage", {'title': 'Welcome!', 'message': 'Click below to copy the URL', 'short_url': hasExists} );
                }else{
                    axios
                    .post("/api/shortener-url", {
                        original_url: this.original_url,
                    })
                    .then(res => {
                        if(res.data.success){
                            this.$store.dispatch("successMessage", {'title': 'Welcome!', 'message': res.data.message, 'short_url': res.data.short_url} );

                            //Store it into local storage
                            this.setOrGetFromLocal(this.original_url, res.data.short_url);
                        }else{
                            this.$store.dispatch("alertMessage", {'title': 'Alert!', 'message': res.data.message});
                        }
                    })
                    .catch(error => {
                            this.$store.dispatch("alertMessage", {'title': 'Error!', 'message': 'Something is wrong!'});
                        });
                } 
                
            },

            /**Reomve slash from the end of url such as www.hello.com/about-us//////   **/
            removeSlashFromEnd(){
                while(this.original_url.slice(-1) == '/'){
                    this.original_url = this.original_url.substring(0, this.original_url.length - 1);
                }
            },

            /** Store Original URL into Localstorage that increase performance of backend **/
            setOrGetFromLocal(original_url=null, short_url=null){
                if(original_url != null && short_url != null){
                    localStorage.setItem(original_url, short_url);
                }else if(original_url != null){
                    let val =localStorage.getItem(original_url);
                    
                    if( val && val != undefined){
                        return val;
                    }
                }
                return false;
            }
        }
    }
</script>
<style>
    
</style>
