<template>
  <div class="success-modal-overlay">
    <div class="success-modal" >
      <div class="modal-header">
        <div class="modal-header-title">{{ this.$store.state.successModalTitle}}</div>
        <div class="modal-header-close" @click="changeSuccessModal">×</div>
      </div>
      <div class="modal-content">
        <p>{{ this.$store.state.successModalMessage}}</p>
        <span class="url_area" v-bind:title="copy_tile" v-clipboard:copy="this.$store.state.short_url" v-clipboard:success="onCopy">{{ this.$store.state.short_url }}</span>
      </div>
      <div class="modal-footer">
        <button @click="changeSuccessModal">Close</button>
      </div>
    </div>
    
  </div>
</template>
<script>
    export default {
        data() {
            return {
              copy_tile: 'Click to copy!',
            }
          },
          methods:{
            changeSuccessModal(){
              this.$store.dispatch("successMessage");
            },
            onCopy: function () {
              this.copy_tile = "Coppied!";
              alert("Coppied!")
            },
          }
    }
</script>

