<template>
	<div>
		<table id="url_table">
		  <tr>
		    <th>SN</th>
		    <th>URL</th>
		  </tr>
		  <tr v-for="(url, index) in urls">
		    <td>{{ index+1}}</td>
		    <td>{{app_url +""+ url.hash_key}}</td>
		  </tr>
		</table>
	</div>
</template>
<script type="text/javascript">
	export default {
        data() {
            return {
              urls : null,
              app_url : null,
            }
          },
		created() {
		    this.getURLs();
		},
		methods:{
			// Get the urls from server
			getURLs(){
				axios.get("/api/shortener-url")
			        .then(res => {
			            this.urls = res.data.data;
			            this.app_url = res.data.app_url ;
			        })
			        .catch(error => {
			            console.log(console.error);
			        });
			}
		}
    }
</script>
